<h3>{{viewTitle}}</h3>

<form action="/course" method="POST" >
  <input type="hidden" name="_id" value="{{course._id}}">
  <div>
    <select name="select">
    <option>Slect Student</option>
    {{#user}} <option value="{{_id}}"> {{fname}}</option>{{/user}}
    </select>
    </div>
    <div class="form-group">
        <label>Course Name</label>
        <input type="text" class="form-control" name="name" placeholder="First Name" value="{{course.name}}">
    </div>
     
     <div class="form-group">
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
    </div>
        
</form>